/*! Theme */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
* { margin: 0; }

body { background-color: #000000; font-family: 'Noto Sans JP', sans-serif; -webkit-font-smoothing: antialiased; }

a { color: #237f52; font-weight: bold; text-decoration: none; }

a:hover { text-decoration: underline; }

@media (min-width: 600px) { body, html { font-size: 4.5vw; } }
@media (min-width: 800px) { body, html { font-size: 3.5vw; } }
@media (min-width: 1000px) { body, html { font-size: 1vw; } }
.failure { color: #9b2423; font-weight: bold; font-size: 150%; }

.site-container { max-width: 1080px; margin: auto; }

.site-header { background-color: #2b2b2c; text-align: center; }

.site-banner { border: 0; }

.site-banner-intro { max-width: 100%; min-width: 100%; background: #000 url("https://lh3.googleusercontent.com/pw/ACtC-3fKXU-N8SstNHaapEkycIehG_d56gpOabTIz7zoHlVsdaFTxI-G0TgqDV4Yx5YXSGGT9o7BAhHh3DUkKf45JtqgtVrKkk57VmvVj1ZTt6uFCSX6v3kcFL7QV0oCnjMaWORU_yQBDIxleVSvPuQJlsNTqA=s1080-no") no-repeat center; background-size: contain; max-height: 100%; min-height: 100%; height: auto; width: auto; position: fixed; opacity: 0.78; margin: auto; }

.site-banner-intro:hover { background: #000 url("https://lh3.googleusercontent.com/pw/ACtC-3fKXU-N8SstNHaapEkycIehG_d56gpOabTIz7zoHlVsdaFTxI-G0TgqDV4Yx5YXSGGT9o7BAhHh3DUkKf45JtqgtVrKkk57VmvVj1ZTt6uFCSX6v3kcFL7QV0oCnjMaWORU_yQBDIxleVSvPuQJlsNTqA=s1080-no") no-repeat center; background-size: contain; }

.site-footer { background-color: #2b2b2c; text-align: right; }

.site-copyright { color: #ecece7; padding: 1vh; }

.site-main { background-color: #ffffff; padding: 1em; margin: 0.5em; }

.site-nav { background-color: #9b9b9b; text-align: left; }
.site-nav a { color: #2b2b2c; padding: 0.5em; }
.site-nav a:hover { color: #ecece7; text-decoration: none; background-color: #2b2b2c; }
.site-nav li { display: inline-block; list-style: none; padding: 0.5em; }
